<div class="side-top">
  <div class="user-name">
    <a href="#">NAME</a>
  </div>
  <div class="make-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="room-name">
    <a href="#">チャットルーム1</a>
  </div>
  <div class="room-name">
    <a href="#">チャットルーム2</a>
  </div>
</div>

