.wrapper{
  display: flex;
}
.side-bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}
.side-top{
  height:100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-name a{
  color:#FAFAFA;
  text-decoration: none;
  font-size: 16px;
}
.make-chat a{
  font-size: 10px;
  color:deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}
.side-main{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}
.room-name{
  padding: 20px 0 40px;
}
.side-main a{
  text-decoration:none;
  color: white;
}
.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
}
.top-content{
  height:100px;
  padding: 0 40px;
}
.chat-center{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}
.bottom-content{
  height:90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}
